body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

/*topbar*/
.topbar{
    border-bottom: 2px solid grey;
}
#logo img{
    width:20%;
    padding:10px;
}
.topbar h1{
    position: absolute;
    left:30%;
    top:5%;
    font-size: 35px;
}
.topbar ul{
    float:right;
    padding-top: 45px;
    margin-right: 60px;
}
.topbar ul li{
    list-style: none;
    display: inline;
    font-size: 22px;
    margin-right: 30px;
    color:black;
    padding:15px;
    border-radius: 40px;
    cursor: pointer;
}
 #first{
    background-color: maroon;
    color:white;
}
#first a{
    color:white;
    text-decoration: none;
}

#second{
    background-color:gray;
    color:white;
}
#second a{
    color:white;
    text-decoration: none;
}
/*menubar*/
.menubar ul{
    margin:0px;
    padding:0px;
    list-style: none;
    float:right;
    padding: 10px;
}
.menubar ul li{
    float:left;
    width:180px;
    text-align:center;
}
.menubar ul li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight: bold;
    
}
.menubar ul li ul{
    padding:20px;
}
.menubar ul li ul li{
    padding:10px;
    background-color: grey;
    font-weight: bold;
    cursor: pointer;
}
.menubar ul li ul li{
    display: none;
}
.menubar ul li:hover ul li{
    display: block;
}


/*main-menu*/
.main-menu img{
    height:450px;
    width:90%;
}
.main-menu .content{
   position: absolute;
   top:50%;
   left:30%;
   border: 2px solid black;
   padding: 20px;
}
.main-menu .content p{
    font-size: 30px;
    font-weight: bold;
}
.main-menu .content h2{
    color:white;
    background-color: maroon;
    padding:12px;
    border-radius: 40px;
    text-align: center;
}

/*container*/
.container{
    width:100%;
    height:auto;
    display:inline-block;
}
.container h3{
    float:center;
    font-size: 40px;
    margin-left:5%;
}
.sector{
    width:30%;
    height:auto;
    float:left;
    margin-left: 3%;
    padding: 10px;
    background-color: wheat;  
}
.sector h4{
    color:maroon;
    font-size: 30px;
}
.sector1{
    width:30%;
    height:auto;
    float:left;
    margin-left:2%;
    background-color: wheat;  


}
.sector1 h5{
    color:maroon;
    font-size: 30px;
}
.sector1 img{
    width:300px;
    height:180px;
}
.sector2{
    width:30%;
    height:auto;
    float: left;
    margin-left:2%;
    background-color: wheat;  
}
.sector2 h6{
    color:maroon;
    font-size: 30px;
}
.sector2 img{
    width:350px;
    height:450px;
}
.btn1{
    padding: 12px;
    margin-top: 30px;
    background: grey;
    padding: 15px;
    font-size: 15px;
}
.btn2{
    padding: 12px;
    margin-top: 20px;
    background: grey;
    padding: 15px;
    font-size: 15px;
    margin-bottom: 23px;
}
.btn1 .btn2 :active{
    background-color: maroon;
}
/*footer*/
footer{
    background-color:#d3d3d3;
}
.newsletter h4{
    padding:10px;
    margin-left:5%;
    font-size: 25px;
    font-weight: bold;
}
.input-group{
    margin-left: 5%;
}
.input-group label{
    display: block;
    text-align: left;
    margin: 5px;
 }
 .input-group input{
    height:40px;
    width:50%;
 }
 .btn{
     padding: 10px;
     margin-top: 10px;
     background: grey;
     padding: 15px;
     font-size: 15px;
 }
 .newsletter p{
     margin-left: 5%;
     font-size: 20px;
 }
 .part2{
     background-color:gray;
 }
 .part2 ul{
     list-style-type: none;
     float:left;
 }
 .part2 ul li{
    display: inline-block;
    margin-left: 15px;
 }
 .part2 ul li a{
     text-decoration: none;
     color:#000;
     font-weight: bold;
 }
 /*fonts*/
.fonts{

}
.fonts ul{
    float:right;
}
.fonts ul li{
    margin-right: 15px;
    font-size: 30px;
}
