body{
    margin: 0%;
    padding: 0%;
    background-color: teal;
}

h1{
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.title{
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0%;
    align-content: center;
    cursor: pointer;
    left: 20%;
}

ul li{
    float: left;
	width: 193px;
	height: 40px;
	background-color: whitesmoke;
	opacity:.8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 2px;
    cursor: pointer;
    left: 20%;

}

ul li a{
    text-decoration: none;
	color: rgb(155, 45, 45);
	display: block;
	cursor: pointer;
}

ul li a:hover{
	background-color: black;
	cursor: pointer;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally)
    */
    }
    
    input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally)
    */
    }
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
    background-color: #45a049;
    }
    /* Style the submit button with a specific background color etc */
    input[type=reset] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    /* When moving the mouse over the submit button, add a darker green color */
    input[type=reset]:hover {
    background-color: #45a049;
    }
    /* Add a background color and some padding around the form */
    .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    height:550px;
    width:550px;
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%,20%);
    color: white;
    
    }/* CSS Document */


#hl{
	text-align: left;
	color: black;
}
.login-box{
width: 300px;
position: absolute;
top:10%;
left: 50%;
transform: translate(-50%,20%);
color: white;
/*display: ;*/

}
.login-box #hl{

	float: left;
	font-size: 40px;
	border-bottom: 6px solid #4caf50;
	margin-bottom: 50px;
	padding: 13px 0;

}

.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding:8px 0;
	margin: 8px 0;
	border-bottom:1px solid; 
}

.textbox i{
	width: 26px;
	float: left;text-align: center;
}

.textbox input{
	border: none;
	outline: none;
	background: none;
}
.btn{
	width: 100%;
	background: none;
	border: 2px solid black;
	color: red;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px;
}


.aa{
	width: 350px;
	height: 1750px;
	background-color: rgba(0,0,0,0.5);
	margin: 0 auto;
	margin-top: 30px;
	padding-top: 10px;
	padding-left: 50px;
	border-radius: 15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
	-moz-border-radius:15px;
	color: white;
	font-weight: bold;
	box-shadow: inset 4px 4px rgba(0,0,0,0.5);

}
.aa input[type="text"]{
	width: 200px;
	height: 35px;
	border: 0;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	padding-left: 5px;

}

.aa input[type="password"]{
	width: 200px;
	height: 35px;
	border: 0;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	padding-left: 5px;
	
}

.aa input[type="submit"]{
	width: 100px;
	height: 35px;
	border: 0;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	background-color: skyblue;
	font-weight: bolder;
	cursor: pointer;
	width: 100%;
	background: none;
	border: 2px solid #4caf50;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;margin: 12px
	 0;
}

ol li ol li{
	display: none;
	cursor: pointer;
}
ol li:hover ol li{
	display: block;
	cursor: pointer;
}


    
    .media{
        text-align: center;
    }
    .media li{
    display: inline-block;
    list-style-type: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    }
    
    .media li a{
        border-bottom: none;
        
    }
    
    .media li img{
        width: 50px;
        height: 50px;
        margin-right: 10px;
        
    }
