body{
    background-color: skyblue;
}

.header{
    width: auto;
    height: 200px;
}

h1{
    text-align:center;
    text-decoration: overline;
    top: 50%;
    font-size: 40px;
    align-items: right;
    align-content: right;
}

/*.img{
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
*/
 .h1{
    top: 0%;
    text-align: center;
    align-content: right;
    align-items: right;
    left: 50%;
    width: 1350px;
    height: 0px;
    
}
 .img{
    content: url(moon_PNG52.png);

    width: 180px;
    height: 180px;
    top: 0px;
    border-radius: 20%;
    /*background: #ff0000;*/
    /*transform-origin: right;*/
    animation: rotate 30s linear infinite;
}

/*.img:before{
    content: url(moon_PNG52.png);
    /*position: absolute;
    top: -25px;
    right: 0%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
    animation: rotate 10s linear infinite;
}
*/

@keyframes rotate{

   0%{
       transform: rotate(0deg);
   }
   

    100%{
        transform: rotate(360deg);
    }
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0%;
    align-content: center;
    cursor: pointer;
    left: 20%;
}

ul li{
    float: left;
	width: 193px;
	height: 40px;
	background-color: whitesmoke;
	opacity:.8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 2px;
    cursor: pointer;
    left: 20%;

}

ul li a{
    text-decoration: none;
	color: rgb(155, 45, 45);
	display: block;
	cursor: pointer;
}

ul li a:hover{
	background-color: black;
	cursor: pointer;
}

