body{
    background-color: beige;
    margin: 0%;
    padding: 0%;
}

ol {
    text-decoration: none;
}

ol li{
    text-decoration: none;
    color: forestgreen;
}

ol a{
    text-decoration: none;
}

/*li{
    
}
*/
section{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 100px;
    transition: 1s;
}

section.dark{
    background: #262626;
    color: #ffffff;
}

ul{
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0%;
    padding: 0%;
    width: 100px;
    height: 30px;
    z-index: 1;
    border: 1px solid #000;
    cursor: pointer;
    overflow: hidden;
}

ul li{
    list-style: none;
    width: 100%;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    /*overflow: hidden;*/
}

ul.active{
    border-color: #ffffff;
}

ul.active li{
    transform: translateY(-30px);
}

ul li span{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #262626;
    background: #ffffff;
}

ul li span:nth-child(1){
    background: #262626;
    color: #ffffff;
}
