h1{
    text-align: center;
}

h2{
    text-align: center;
}

ul{
	margin: 0px;
	padding: 0px; 
	list-style: none;
	cursor: pointer;
	align-content: center;
}
ul li{
	float: left;
	width: 200px;
	height: 40px;
	background-color: green;
	opacity:.8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 2px;
	cursor: pointer;
}
ul li a{
	text-decoration: none;
	color: white;
	display: block;
	cursor: pointer;
}
ul li a:hover{
	background-color: black;
	cursor: pointer;
}
ul li ul li{
	display: none;
	cursor: pointer;
}
ul li:hover ul li{
	display: block;
	cursor: pointer;
}
footer{
 top: 70%;
 position: relative;
 left: 20px;   
}